*.FASL
*.fasl
*.lisp-temp
*.dfsl
*.pfsl
*.d64fsl
*.p64fsl
*.lx64fsl
*.lx32fsl
*.dx64fsl
*.dx32fsl
*.fx64fsl
*.fx32fsl
*.sx64fsl
*.sx32fsl
*.wx64fsl
*.wx32fsl
**/*~
data
dictionaries_lib
flags
format_schemas
metadata
metadata_dropped
preprocessed_configs
store
tmp
user_defined
user_files
user_scripts
uuid
.vscode
TODO.md
.DS_Store
