name: CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  all_tests_suite:
    name: All Tests Suite
    runs-on: ubuntu-latest
    strategy:
      matrix:
        lisp:
          - sbcl-bin
          - ccl-bin
    env:
      LISP: ${{ matrix.lisp }}
    services: 
      clickhouse:
        image: clickhouse/clickhouse-server
        ports:
          - 8123:8123
        options: --ulimit nofile=262144:262144

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set Up Lisp
        uses: 40ants/setup-lisp@v2
        with:
          asdf-system: clickhouse

      - name: Run Test 
        uses: 40ants/run-tests@v2
        with:
          asdf-system: clickhouse
          run-tests: |
            (ql:quickload :clickhouse)
            (asdf:test-system "clickhouse")
