name: CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  COVERALLS: true

jobs:
  all_tests_suite:
    name: All Tests Suite
    runs-on: ubuntu-latest
    
    services: 
      clickhouse:
        image: clickhouse/clickhouse-server
        ports:
          - 8123:8123
        options: --ulimit nofile=262144:262144
      
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Install Roswell
        env:
          LISP: sbcl-bin
        run: |
          curl -L https://raw.githubusercontent.com/roswell/roswell/master/scripts/install-for-ci.sh | sh

      - name: Install Dependencies
        run: |
          ros -e '(ql-dist:install-dist "http://dist.ultralisp.org/" :prompt nil)' \
              -e '(ql:quickload :cl-coveralls)' \
              -e '(ql:quickload :clickhouse)' \
              -e '(ql:quickload :clickhouse-test)'

      - name: Test
        run: ros -e '(coveralls:with-coveralls () (asdf:test-system :clickhouse))'
